@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --secondary-rgb: 50, 14,59;
  --background-rgb: 248 , 241, 249;
  --primary-accent-rgb: 232, 155, 171;
  --secondary-accent-rgb: 147, 225, 216;
}



body {
  color: rgb(var(--secondary-rgb));
  background: rgb(var(--background-rgb));
}

span{
  color: rgb(var(--secondary-rgb));
}